.detail-vis-filter-wrapper {
    background-color: white;
    padding: 15px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 100px;
}

.inline {
    display: inline;
}

.filter-name {
    margin-right: 8px;
}

.select-wrapper {
    height: 30px;
}

.filtering-button {
    height: 30px;
    margin-top: -35px;
}