.sidebar-wrapper {
    height: 100vmin;
    background-color: white;
}

.sidebar-logo {
    margin-bottom: 10px;
    padding: 8px 10px;
    height: 40px;
    color: white;
    font-weight: bold;
    background: linear-gradient(to bottom right, #FF0061, #4A3CDB)
}

.sidebar-icon {
    margin: 5px 5px 5px 10px;
    width: 12px;
    height: 12px;
    filter: invert(47%) sepia(1%) saturate(1172%) hue-rotate(338deg) brightness(101%) contrast(96%);
}

.sidebar-item {
    font-size: small;
    padding: 8px 10px;
    color: #797979;
}

.sidebar-item:hover {
    filter: invert(36%) sepia(97%) saturate(454%) hue-rotate(286deg) brightness(101%) contrast(92%);
    border-left: #FF0061 solid 3px;
}